@import "tailwindcss" theme(static);
@import "@nuxt/ui";
@import "./ui-default-theme.css";



:root {
    --ui-primary: black;
    --ui-header-height: theme(spacing.16);
    --ui-content-without-header: calc(100vh - var(--ui-header-height));
}

.dark {
    --ui-primary: white;
}